hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #112D4E;
    border-width: 5px;
    width: 3%;
}

body {
    background-color: #F9F7F7;

}

h1 {
    color: #3F72AF;
}

h3 {
    color: #3F72AF;
}

#profile {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}