hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #112D4E;
    border-width: 5px;
    width: 3%;
}
body {
    background-color: #F9F7F7;
}
img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}